**/*.lprof
**/*.pyc
**/*.pdf
**/*.jpg
**/*.JPG
python/**/*.png
octave/**/*.png
**/octave-workspace
**/*.mat
**/*.txt
**/*.mp4
python/build
python/dist
**/*.egg-info/
reports/**/*.aux
reports/**/*.log
reports/**/*.bbl
reports/**/*.blg
reports/**/*.el
reports/**/*.eps